In [1]:
import pandas as pd
from sklearn.svm import SVR
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [2]:
dataset= fetch_california_housing()
X= pd.DataFrame(dataset.data, columns= dataset.feature_names)
y= pd.Series(dataset.target)

In [3]:
X.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [4]:
X.sample(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
18998,3.6036,14.0,4.577677,1.025641,1597.0,2.408748,38.34,-121.96
15224,6.2513,14.0,6.244624,1.002688,1057.0,2.841398,33.05,-117.26
19777,1.0230,20.0,4.194763,1.076923,1363.0,2.230769,39.92,-122.19
8775,3.7167,29.0,5.017953,1.026930,1469.0,2.637343,33.80,-118.31
2812,1.7857,41.0,4.847185,1.166220,1005.0,2.694370,35.41,-119.03
18322,6.6354,41.0,6.389328,1.067194,1251.0,2.472332,37.45,-122.13
5884,3.6111,44.0,4.864023,1.107649,848.0,2.402266,34.16,-118.34
9333,3.7321,36.0,5.235808,1.013100,551.0,2.406114,38.01,-122.64
3498,3.7050,33.0,5.191304,0.995652,839.0,3.647826,34.27,-118.45
18515,2.1734,21.0,3.905263,1.036842,984.0,2.589474,36.98,-122.02

In [13]:
pipe = make_pipeline(StandardScaler(),
                     SVR(kernel= 'rbf',
                         C= 10,
                         gamma= 'auto'))

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.1, random_state= 42)

In [14]:
pipe.fit(X_train, y_train)
rmse = root_mean_squared_error(y_test, pipe.predict(X_test))
print(f'RMSE: {rmse:.3f}')

RMSE: 0.573